@header-height: 5rem;

.MasterLayout {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .mainSection {
    flex: 1;
    width: 100%;
    display: flex;
    overflow: hidden;

    &.top {
      flex-direction: column;
    }

    &.bottom {
      flex-direction: column-reverse;
    }

    .pageContent {
      overflow-y: auto;
      flex: 1;
    }

    .mainNav {
      min-height: auto;
    }

  }

}
